extends layout
block content
	#forums(data-bind="foreach: forums")
		.forum
			p(data-bind="text: name, css: {new: isNew == true }")
			p(data-bind="text: category_id")
			a(data-bind="attr: {href: '/forum/'+id}") Idź
	script
		var socket = io.connect();

		function AppViewModel(sampleArray) {
			self.forums = ko.observableArray(sampleArray);
			this.update = function()self.forums[0]
		}    

		// socket.io specific code
		
		socket.on('forumsWithCategories',function(forums){
			ko.applyBindings(new AppViewModel(forums));
		});
		
		function appendForum (msg) {
			self.forums.push(msg);
		}
		
		function changeInKOArray(KOArray, objectToChange, newValue, searchFunction){
			for(var i = 0, j = KOArray().length; i < j; i++){
				if( searchFunction(KOArray()[i]) == true){
					KOArray()[i][objectToChange] = newValue;
				}
			}
		}

		socket.emit('get forumsWithCategories');

		socket.on('new message',function(message, messageParams){
			alert("przyszło");
			$('#info').html("Nowa wiadomość od:"+message.username);
			var modificatedForum = {id:messageParams.forum_id, name: messageParams.name, category_id: messageParams.category_id};
			console.log(modificatedForum);
			changeInKOArray(self.forums, "isNew", true, function(testedObject){
				if(testedObject.id == modificatedForum.id){
					return true;
				}else{
					return false;
				}
			});
		});